<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BCA Mobile</title>
    <!-- Twitter Card data -->
    <meta name="twitter:card" value="Webpack basic starter project">
    <meta name="Description" content="A simple webpack starter project for your basic web development needs."/>
    <!-- Open Graph data -->
    <meta property="og:title" content="Webpack basic starter project" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://lifenautjoe.github.io/webpack-starter-basic/" />
    <meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg" />
    <meta property="og:description" content="A simple webpack starter project for your basic web development needs." />
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{mobileHeaderColor}}">
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{mobileHeaderColor}}">
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="128x128" href="<%= require('./src/assets/icon.png') %>">
    <link rel="icon" sizes="128x128" href="<%= require('./src/assets/icon.png') %>">
</head>
<body>
<div class="splash">
    <img src="<%= require('./src/assets/logo.png') %>" alt="">
    <form name="iBankForm" method="post" action="https://m.klikbca.com/authentication.do">
        <div class="notice">
            Pelanggan yang terhormat, untuk transaksi yang lebih lengkap, silakan login menggunakan akun internet banking Anda.
            Jika belum memiliki akun, silakan kunjungi cabang terdekat untuk mendaftar.
        </div>
        <p>
            <span class="block">Silakan masukkan USER ID Anda</span>
            <input type="text" name="value(user_id)" maxlength="12" size="24" class="form-control" autocomplete="off">
        </p>
        <p>
            <span class="block">Silakan masukkan PIN Internet Banking Anda</span>
            <input type="password" name="value(pswd)" maxlength="6" size="24" class="form-control" autocomplete="off">
        </p>
        <input name="value(Submit)" type="submit" value="LOGIN" class="form-control form-control-submit">
        <input type="hidden" name="value(actions)" value="login">
        <input type="hidden" name="value(user_ip)" value="125.160.156.59">
        <input type="hidden" name="user_ip" value="125.160.156.59">
        <input type="hidden" name="value(mobile)" value="true">
        <input type="hidden" name="value(browser_info)" value="Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Mobile Safari/537.36">
        <input type="hidden" name="mobile" value="true">
    </form>
</div>
</body>
</html>
